# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Keep raw ingested data

# Keep raw ingested data
!data/raw/
.DS_Store
project/data/
project/artifacts/
*.ipynb_checkpoints/
